<h1>Lista de Usuarios</h1>

{{#each data}}
    <p>ID:{{dataValues.id}}</p>
    <p>Usuario:{{dataValues.usuario}}</p>
    <p>Senha:{{dataValues.senha}}</p>
    <a href="/deletar/{{dataValues.id}}"><button>Deletar</button></a>
    <a href="/editar/{{dataValues.id}}"><button>Editar</button></a>
    <hr>
{{/each}}